* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body ,html {
  width: 100%!important;
  height: 100%!important;
}

.bg-primary {
  background-color: transparent !important;
}

.text-primary {
  color: transparent !important;
}

.border-primary {
  border-color: transparent !important;
}
body {
  background-color: transparent !important;
  
}

.home {
  width: 100vw;
  height: 100vh;
  
  display: flex;
}

.c-sidebar {
  width: 200px;
  height: 100vh;
  border-right: 2px solid grey;
}

.right {
  width: calc(100% - 200px);
  height: 100%;
 
}

.c-navbar {
  border-bottom: 2px solid grey;
  height: 50px;
}

.main {
  background-color: #dadada;
  height: calc(100% - 50px);
  width: 100%;
}